<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.MemberMapper">

<select id="registerCheck" parameterType="String" resultType="com.hs.entity.Member">
  select * from tmember where memID=#{memID}
</select>




</mapper>